<div class="shareUl">
  <a target="_blank" rel="noopener" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" title="Share on Facebook" class="shareLink">
    <span class="shareIcon">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
        <path d="M16.5 8C16.5 11.9931 13.5745 15.3029 9.74989 15.9029V10.313H11.614L11.9684 8H9.74989V6.49923C9.74989 5.86697 10.0593 5.24933 11.0538 5.24933H12.0629V3.28055C12.0629 3.28055 11.1472 3.12417 10.2719 3.12417C8.44487 3.12417 7.25011 4.23119 7.25011 6.2371V8H5.21832V10.313H7.25011V15.9029C3.42552 15.3029 0.5 11.9931 0.5 8C0.5 3.58172 4.08172 0 8.5 0C12.9183 0 16.5 3.58172 16.5 8ZM7.25011 15.9032C7.65736 15.9674 8.07474 16 8.5 16C8.0748 16 7.65736 15.9668 7.25011 15.9029V15.9032ZM9.74989 15.9032V15.9029C9.68711 15.9128 9.62421 15.9219 9.56121 15.9302C9.62421 15.922 9.6871 15.913 9.74989 15.9032ZM9.56121 15.9302C9.21401 15.9763 8.85978 16 8.5 16C8.85983 16 9.21402 15.9758 9.56121 15.9302Z" fill="black"/>
      </svg>
    </span>
    <span class="shareTitle">
      Share
    </span>
  </a>
  <a target="_blank" rel="noopener" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" title="Tweet on Twitter" class="shareLink">
    <span class="shareIcon">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 21 16" fill="none">
        <path d="M20.3329 1.89416C19.7774 2.71385 19.1106 3.40829 18.3327 3.97747C18.3327 4.03286 18.3397 4.11977 18.3538 4.23821C18.3678 4.35665 18.3748 4.44356 18.3748 4.49894C18.3748 5.58235 18.2151 6.66576 17.8956 7.74917C17.576 8.83258 17.0899 9.86742 16.4372 10.8537C15.7845 11.84 15.0102 12.715 14.1143 13.4789C13.2183 14.2428 12.1419 14.854 10.8851 15.3124C9.62832 15.7708 8.27758 16 6.83289 16C4.58257 16 2.52694 15.3959 0.666016 14.1876C1.05499 14.2153 1.37451 14.2292 1.6246 14.2292C3.49958 14.2292 5.17327 13.6598 6.64565 12.521C5.77057 12.5069 4.98922 12.2396 4.30159 11.719C3.61397 11.1984 3.13127 10.5282 2.8535 9.70851C3.08952 9.7639 3.34642 9.79159 3.6242 9.79159C3.99911 9.79159 4.35336 9.73599 4.68694 9.6248C3.75648 9.43052 2.98557 8.96529 2.37421 8.2291C1.76285 7.49291 1.45716 6.64574 1.45716 5.68758V5.64604C1.98502 5.92382 2.58914 6.07655 3.26952 6.10425C2.72803 5.74297 2.29752 5.2673 1.97799 4.67724C1.65847 4.08718 1.4987 3.45174 1.4987 2.77094C1.4987 2.0765 1.67231 1.39591 2.01953 0.729161C3.0335 1.99321 4.2592 2.98971 5.69665 3.71866C7.1341 4.4476 8.69318 4.85383 10.3739 4.93733C10.2768 4.59011 10.2282 4.28465 10.2282 4.02093C10.2282 2.90983 10.624 1.9619 11.4155 1.17714C12.2071 0.392379 13.1725 0 14.3117 0C14.8673 0 15.402 0.111195 15.9158 0.333586C16.4296 0.555977 16.8671 0.868475 17.2284 1.27108C18.1452 1.09044 18.9994 0.764096 19.791 0.292048C19.4992 1.23657 18.9089 1.97958 18.0202 2.52107C18.8676 2.40987 19.6385 2.20154 20.3329 1.89607V1.89416Z" fill="black"/>
      </svg>
    </span>
    <span class="shareTitle">
      Tweet
    </span>
  </a>
  <a target="_blank" rel="noopener" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" title="Pin on Pinterest" class="shareLink">
    <span class="shareIcon">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
        <path d="M0.5 7.99988C0.5 11.2758 2.46988 14.09 5.28869 15.3273C5.26619 14.7687 5.28469 14.0981 5.42794 13.4903C5.58175 12.8408 6.45731 9.13101 6.45731 9.13101C6.45731 9.13101 6.20175 8.62019 6.20175 7.86526C6.20175 6.67969 6.88888 5.79426 7.74463 5.79426C8.47231 5.79426 8.82388 6.34082 8.82388 6.99532C8.82388 7.72682 8.35731 8.82101 8.11737 9.83444C7.91694 10.6831 8.54287 11.3753 9.38006 11.3753C10.8958 11.3753 11.9167 9.42844 11.9167 7.12182C11.9167 5.36844 10.7357 4.05607 8.58781 4.05607C6.16106 4.05607 4.64925 5.86582 4.64925 7.88732C4.64925 8.58432 4.85475 9.07582 5.17662 9.45644C5.32462 9.63126 5.34519 9.70157 5.29163 9.90232C5.25325 10.0495 5.16512 10.4039 5.12862 10.5443C5.07537 10.7469 4.91119 10.8194 4.72806 10.7446C3.61031 10.2883 3.08975 9.06419 3.08975 7.68819C3.08975 5.41563 5.00637 2.69063 8.80737 2.69063C11.8617 2.69063 13.8721 4.90088 13.8721 7.27344C13.8721 10.4118 12.1273 12.7563 9.55544 12.7563C8.69175 12.7563 7.87931 12.2894 7.601 11.7591C7.601 11.7591 7.13656 13.6024 7.03819 13.9583C6.86856 14.5751 6.53656 15.1916 6.233 15.6721C6.9691 15.8898 7.73271 16.0003 8.50031 16.0002C12.9181 16.0002 16.5001 12.4184 16.5001 7.99988C16.5001 3.58157 12.9181 -0.000244141 8.50031 -0.000244141C4.08213 -0.000244141 0.5 3.58157 0.5 7.99988Z" fill="black"/>
      </svg>
    </span>
    <span class="shareTitle">
      Pin it
    </span>
  </a>
</div>
