{% comment %}
** We are building colour filters through product tags
** We have product tag like Pink, Red, Etc..
** So we capture common colour list to fetch only colour tags from products and exclude other tags as we don't have any prefix for colour tags for now
** Add color swatch images to file area with prefix 'color-your color name in handleize case', i.e. color-blue, color-rose-pink, etc.
{% endcomment %}

{%- capture colorLists -%}
Black,Beige,Cream,Chocolate,Champagne,White,Blue,Red,Brown,Grey,Gray,Purple,Yellow,Gold,Green,Pink,Orange,Olive,Maroon,Emerald,
Mehendi,Haldi,Mustard,Navy,Teal,Aqua,Azure,Bisque,Blanched Almond,Burly Wood,Coral,Cornsilk,Crimson,Amber,Floral,Mint,
Sage,Cyan,Khaki,Magenta,Salmon,Violet,Fire,Brick,Fuchsia,Honey,Dew,Indigo,Ivory,Lavender,Lime,Linen,Rose,Olive,Plum,Silver,Tan
{%- endcapture -%}

{%- assign colorNames = colorLists | strip_newlines -%}
{%- assign colorNamesRefine = colorNames | split: ',' -%}

{%- assign isColorTagFound = false -%}
{%- for value in filter.values -%}
  {%- assign tagValue = value.value | downcase -%}
  {%- for colorName in colorNamesRefine -%}
    {%- assign colorNameDownCase = colorName | downcase -%}
    {%- if colorNameDownCase == tagValue -%}
      {%- assign colorSwatchName = tagValue | handleize -%}
      {%- assign colorSwatchNameRefine = colorSwatchName | prepend: 'color-' | append: '.png' -%}
      {%- assign colorSwatchImg = images[colorSwatchNameRefine] -%}
      {%- if colorSwatchImg != blank -%}
        {%- assign isColorTagFound = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {% if isColorTagFound %}{% break %}{% endif %}
{%- endfor -%}


{%- if isColorTagFound -%}
  <details
    id="Details-{{ forloop.index }}-{{ section.id }}"
    class="color-filters{% if filter_type == 'horizontal' %} disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
    data-index="{{ forloop.index }}"
    {% if filter_type == 'vertical' and forloop.index == 1 %}
      open
    {% endif %}
  >
    <summary
      class="facets__summary caption-large focus-offset"
      aria-label="{{ filter.label }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
    >
      <div>
        <span>
          {{- filter.label | escape }}
          {%- if filter_type == 'vertical' -%}
            <span class="facets__selected no-js-hidden{% if filter.active_values.size == 0 %} hidden{% endif %}">
              ({{ filter.active_values.size }})</span
            >
          {%- endif -%}
        </span>
        {% render 'icon-plus-facets' %}
      </div>
    </summary>
    <div
      id="Facet-{{ forloop.index }}-{{ section.id }}"
      class="parent-display {% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
    >
      <div class="page-width">
        <div class="element-border">
          {%- if filter_type != 'vertical' -%}
            <div class="facets__header">
              <span class="facets__selected no-js-hidden">
                {{- 'products.facets.filters_selected' | t: count: filter.active_values.size -}}
              </span>
              <facet-remove>
                <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                  {{ 'products.facets.reset' | t }}
                </a>
              </facet-remove>
            </div>
          {%- endif -%}
          <fieldset class="facets-wrap parent-wrap {% if filter_type == 'vertical' %} facets-wrap-vertical{% endif %}">
            <legend class="visually-hidden">{{ filter.label | escape }}</legend>
            <ul
              class="{% if filter_type != 'vertical' %} facets__list{% endif %} list-unstyled no-js-hidden"
              role="list"
            >
              
              {%- for value in filter.values -%}
      
                {%- assign tagValue = value.value | downcase -%}
                {%- assign loopIndex = forloop.index -%}
  
                {%- for colorName in colorNamesRefine -%}
                  
                  {%- assign colorNameDownCase = colorName | downcase -%}
                  {%- if colorNameDownCase == tagValue -%}
        
                    {%- assign colorSwatchName = tagValue | handleize -%}
                    {%- assign colorSwatchNameRefine = colorSwatchName | prepend: 'color-' | append: '.png' -%}
                    {%- assign colorSwatchImg = images[colorSwatchNameRefine] -%}
        
                    {%- if colorSwatchImg != blank -%}
                      <li class="list-menu__item facets__item{% if loopIndex > 10 and filter_type == 'vertical' %} show-more-item hidden{% endif %}">
                        <label
                          for="Filter-{{ filter.param_name | escape }}-{{ loopIndex }}"
                          class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}"
                        >
                          <input
                            type="checkbox"
                            name="{{ value.param_name }}"
                            value="{{ value.value }}"
                            id="Filter-{{ filter.param_name | escape }}-{{ loopIndex }}"
                            {% if value.active %}
                              checked
                            {% endif %}
                            {% if value.count == 0 and value.active == false %}
                              disabled
                            {% endif %}
                          >
            
                          <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                            <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                          </svg>
            
                          <svg
                            aria-hidden="true"
                            class="icon icon-checkmark"
                            width="1.1rem"
                            height="0.7rem"
                            viewBox="0 0 11 7"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                              stroke="currentColor"
                              stroke-width="1.75"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                          </svg>
        
                          <div class="collection-color-filtter">
                            <span>{{colorSwatchImg | image_url: width: 80 | image_tag: loading: 'lazy' }}</span>
                          </div>
                          <span aria-hidden="true">{{ value.label | escape }}</span>
                          <span class="visually-hidden">{{- value.label | escape }}</span>
                        </label>
                      </li>
                    {%- endif -%}
                    {%- break -%}
                  {%- endif -%} 
                {%- endfor -%}
  
              {%- endfor -%}
            </ul>
            {% comment %} No show more for no JS {% endcomment %}
            <ul
              class="{% if filter_type != 'vertical' %} facets__list{% endif %} no-js-list list-unstyled no-js"
              role="list"
            >
              {%- for value in filter.values -%}
      
              {%- assign tagValue = value.value -%}
                {%- if colorNamesRefine contains tagValue -%}
      
                  {%- assign colorSwatchName = tagValue | handleize -%}
                  {%- assign colorSwatchNameRefine = colorSwatchName | prepend: 'color-' | append: '.png' -%}
                  {%- assign colorSwatchImg = images[colorSwatchNameRefine] -%}
      
                  {%- if colorSwatchImg != blank -%}
              
                    <li class="list-menu__item facets__item">
                      <label
                        for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
                        class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}"
                      >
                        <input
                          type="checkbox"
                          name="{{ value.param_name }}"
                          value="{{ value.value }}"
                          id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
                          {% if value.active %}
                            checked
                          {% endif %}
                          {% if value.count == 0 and value.active == false %}
                            disabled
                          {% endif %}
                        >
          
                        <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                          <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                        </svg>
          
                        <svg
                          aria-hidden="true"
                          class="icon icon-checkmark"
                          width="1.1rem"
                          height="0.7rem"
                          viewBox="0 0 11 7"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                            stroke="currentColor"
                            stroke-width="1.75"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>
                            
                        <div class="collection-color-filtter">
                          <span>{{colorSwatchImg | image_url: width: 80 | image_tag: loading: 'lazy' }}</span>
                        </div>
                        <span aria-hidden="true">{{ value.label | escape }}</span>
                        <span class="visually-hidden">{{- value.label | escape }}</span>
                      </label>
                    </li>
                  {%- endif -%}
                  
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </fieldset>
        </div>
      </div>
                            
      {%- if filter.values.size > 10 and filter_type == 'vertical' -%}
        <show-more-button>
          <button
            class="button-show-more link underlined-link no-js-hidden"
            id="Show-More-{{ forloop.index }}-{{ section.id }}"
            type="button"
          >
            <span class="label-show-more label-text">
              <span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
            </span>
            <span class="label-show-less label-text hidden">
              <span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
            </span>
          </button>
        </show-more-button>
      {%- endif %}
    </div>
  </details>
{%- endif -%}  