<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <meta name="p:domain_verify" content="840001852b9d9e3226794599e551bb6d">
    <link rel="canonical" href="{{ canonical_url }}">

    {% include 'booster-seo' %}
    
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {% if settings.customFont == false %}
    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    {% endif %}

    {% capture minifyHead %}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    
    {% comment %}Few prefetch/preconnect/preload for performance improvement{% endcomment %}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preload" href="{{ 'base.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'global.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'announcement-bar.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'header.css' | asset_url }}" as="style">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {% if settings.customFont == false %}
        {{ settings.type_body_font | font_face: font_display: 'swap' }}
        {{ body_font_bold | font_face: font_display: 'swap' }}
        {{ body_font_italic | font_face: font_display: 'swap' }}
        {{ body_font_bold_italic | font_face: font_display: 'swap' }}
        {{ settings.type_header_font | font_face: font_display: 'swap' }}      
      {% endif %}

      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        {% if scheme.settings.background_gradient != empty %}
          --gradient-background: {{ scheme.settings.background_gradient }};
        {% else %}
          --gradient-background: {{ scheme.settings.background }};
        {% endif %}
        --color-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-shadow: {{ scheme.settings.shadow.red }},{{ scheme.settings.shadow.green }},{{ scheme.settings.shadow.blue }};
        --color-button: {{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }};
        --color-button-text: {{ scheme.settings.button_label.red }},{{ scheme.settings.button_label.green }},{{ scheme.settings.button_label.blue }};
        --color-secondary-button: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-secondary-button-text: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-link: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-badge-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-badge-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-badge-border: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
      }
      {% endfor %}

      {{ scheme_classes | prepend: 'body' }} {
        color: rgba(var(--color-foreground), 1);
        background-color: rgb(var(--color-background));
      }

      :root {
      {% if settings.customFont == false %}
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
      {% else %}
        {% comment %}--font-body-family: Hanken Grotesk;
        --font-body-style: normal;
        --font-body-weight: 300;
        --font-body-weight-bold: 600;

        --font-heading-family: "Jost";
        --font-heading-style: normal;
        --font-heading-weight: 400;{% endcomment %}
        
        --font-body-family: Lato;
        --font-body-style: normal;
        --font-body-weight: 400;
        --font-body-weight-bold: 700;

        --font-heading-family: Kapra Condensed;
        --font-heading-style: normal;
        --font-heading-weight: 400;
      {% endif %}

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        {% assign fontScale = settings.heading_scale | times: 1.0 | divided_by: settings.body_scale %}
        --font-heading-scale: {{ fontScale }};

        --media-padding: {{ settings.media_padding }}px;
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
        --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ settings.card_text_alignment }};
        --product-card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
        --product-card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
        --product-card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if settings.card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: {{ settings.collection_card_image_padding | divided_by: 10.0 }}rem;
        --collection-card-corner-radius: {{ settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
        --collection-card-border-width: {{ settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ settings.collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ settings.collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: {{ settings.blog_card_image_padding | divided_by: 10.0 }}rem;
        --blog-card-corner-radius: {{ settings.blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
        --blog-card-border-width: {{ settings.blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ settings.blog_card_border_opacity | divided_by: 100.0 }};
        --blog-card-shadow-opacity: {{ settings.blog_card_shadow_opacity | divided_by: 100.0 }};
        --blog-card-shadow-visible: {% if settings.blog_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --blog-card-shadow-horizontal-offset: {{ settings.blog_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-vertical-offset: {{ settings.blog_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-blur-radius: {{ settings.blog_card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --popup-border-width: {{ settings.popup_border_thickness }}px;
        --popup-border-opacity: {{ settings.popup_border_opacity | divided_by: 100.0 }};
        --popup-corner-radius: {{ settings.popup_corner_radius }}px;
        --popup-shadow-opacity: {{ settings.popup_shadow_opacity | divided_by: 100.0 }};
        --popup-shadow-horizontal-offset: {{ settings.popup_shadow_horizontal_offset }}px;
        --popup-shadow-vertical-offset: {{ settings.popup_shadow_vertical_offset }}px;
        --popup-shadow-blur-radius: {{ settings.popup_shadow_blur }}px;

        --drawer-border-width: {{ settings.drawer_border_thickness }}px;
        --drawer-border-opacity: {{ settings.drawer_border_opacity | divided_by: 100.0 }};
        --drawer-shadow-opacity: {{ settings.drawer_shadow_opacity | divided_by: 100.0 }};
        --drawer-shadow-horizontal-offset: {{ settings.drawer_shadow_horizontal_offset }}px;
        --drawer-shadow-vertical-offset: {{ settings.drawer_shadow_vertical_offset }}px;
        --drawer-shadow-blur-radius: {{ settings.drawer_shadow_blur }}px;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
        --text-boxes-radius: {{ settings.text_boxes_radius }}px;
        --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ settings.variant_pills_radius }}px;
        --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
        --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
        --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.6 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
      cart-drawer.is-empty { display: none; }
    {% endstyle %}
    {% endcapture %}{{ minifyHead | strip_newlines | replace:'   ',' ' | replace:'  ',' ' | replace:'  ',' ' }}

    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'global.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'announcement-bar.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}" media="print" onload="this.media='all'">
    {% comment %}
    <link rel="stylesheet" href="{{ 'rebuy-cart.css' | asset_url }}" media="print" onload="this.media='all'" fetchpriority="low">
    {% endcomment %}
   {% comment %} <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}" media="print" onload="this.media='all'">{% endcomment %}

    {% assign loadCss = false %}
    {% assign handles_look = settings.look_handle | split:',' %}
    {% for handle_loop in handles_look %}
      {% if template.suffix == handle_loop %}
        {% assign loadCss = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    
    {% if loadCss == true %}
      <link rel="stylesheet" href="{{ 'lookbook.css' | asset_url }}" media="all" >
      <script>
        var url = location.href;
        localStorage.setItem("lookbook-url",url);
      </script>
    {% endif %}
    
    {% if template.suffix == 'sale-terms-conditions' or template.suffix == 'instagram' or template.directory == "customers" %}
      {{ 'flickity.css' | asset_url | stylesheet_tag }}
    {% endif %}
      
    {% if settings.customFont == false %}
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {% else %}
      <link rel="preload" as="font" href="https://cdn.shopify.com/s/files/1/1169/4922/files/HankenGrotesk-Regular.woff2" type="font/woff2" crossorigin>
      <link rel="preload" as="font" href="https://cdn.shopify.com/s/files/1/1169/4922/files/Jost-Regular.woff2" type="font/woff2" crossorigin>      
      <link rel="preload" as="font" href="https://cdn.shopify.com/s/files/1/1169/4922/files/HankenGrotesk-ExtraBold.woff2" type="font/woff2" crossorigin>
    {% endif %}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'" fetchpriority="low">
    {%- endif -%}

    {% comment %}
    <script _async _onload="rebuyLoad()" src="https://cdn.rebuyengine.com/onsite/js/rebuy.js?shop={{ shop.permanent_domain }}" defer="defer"></script>
    {% endcomment %}
    {%- if settings.animations_reveal_on_scroll -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    {% comment %}
    {%- if template == 'product' or template == 'cart' -%}
      <script src="{{ 'static-sezzle-widget.js' | asset_url }}" defer></script>
    {%- endif -%}
    {% endcomment %}
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
  
    {% if template.suffix == 'sale-terms-conditions' or template.suffix == 'instagram' or template.directory == "customers" %}
      <script src="{{ 'vendor-scripts-v11.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    
  {% comment %} <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script> {% endcomment %}

    {{ content_for_header }}
    {% comment %}
    {%- capture _content_for_header -%}{{ content_for_header }}{%- endcapture -%}  
  
    {% assign _content_for_header = _content_for_header | replace:"window.attachEvent('onload', asyncLoad);","window._asyncLoad = asyncLoad" | replace:"window.addEventListener('load', asyncLoad, false);","window._asyncLoad = asyncLoad" %}

    {{ _content_for_header }}

    <script>
      window.addEventListener('load', (event) => {
        window._asyncLoad();
      });
    </script>
    {% endcomment %}

    {% comment %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J9FL7P87MB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-J9FL7P87MB');
    </script> 
        
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KFDC3XH');</script>
    <!-- End Google Tag Manager -->
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-WFKPDQ6" defer></script>
    {% endcomment %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {% comment %}
    <script>window.markerConfig = { project: '64cd66ab5e841050a05579b7', source: 'snippet' };</script>
    <script>window.addEventListener('load', (event) => {
    !function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
    });</script>
    

    <script src="//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js"></script>
     <script>Bugsnag.start({ apiKey: '58d6d19fd58ab068ae9aad20943f04d6' })</script>
    {% endcomment %}

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>

     {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>

  {%- capture animationClass -%}
  {%- if settings.animations_hover_elements != 'none' -%}animate--hover-{{ settings.animations_hover_elements }}{%- endif -%} 
  {%- endcapture -%}

  {%- liquid
     assign transHeader = false
    if template == 'index'
     assign transHeader = true
    elsif template == 'collection'
     assign transHeader = true
    elsif template.suffix == 'lookbook-pastel-prairies'
     assign transHeader = true
    elsif template.suffix == 'lookbook-saadagee'
      assign transHeader = true
    endif
     assign transHeader = false
  -%}
  
  <body class="gradient {{ animationClass }} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{ template.suffix }}{% if request.path == '/challenge' %} template-challange{% endif %}{% if fontScale > 1.35 %} largeScaleF{% endif %}{% if transHeader == true %} transparent-header{% endif %}">

    {% comment %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFDC3XH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endcomment %}
    
    <div class="pop-overlay"></div>
    
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% sections 'header-group' %}
    
    <main id="MainContent" class="content-for-layout focus-none{% if template.directory == 'customers' %} cForL-{{ template.directory }} cForL-{{ template.name }}-name{% endif %}" role="main" tabindex="-1">
      {%- capture minifyMain -%}
      {%- liquid
        if template.suffix == "sizing"
          render 'breadcrumb', showInContainer: true
        endif
      -%}      
      
      {{ content_for_layout }}
        
      {%- endcapture -%}
      {%- if template.name == "index" -%}
        {{ minifyMain | strip_newlines | replace:'   ',' ' | replace:'  ',' ' | replace:'  ',' ' }}
      {%- else -%}
        {{ minifyMain }}
      {%- endif -%}
    </main>
    {% capture minifyMain %}
    {% sections 'footer-group' %}
    {% endcapture %}{{ minifyMain | strip_newlines | replace:'   ',' ' | replace:'  ',' ' | replace:'  ',' ' }}
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.theme = {
        pageType: {{ request.page_type | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }}
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        soldoutlabel: `{{ 'products.product.sold_out_label' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      };
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    
    {% comment %}    loop-onstore    {% endcomment %}
    {% comment %}
    <script src="https://cdn.jsdelivr.net/npm/@loophq/onstore-sdk@latest/dist/loop-onstore-sdk.min.js" defer></script>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        LoopOnstore.init({ 
         key: "8b62f62a73ac7beb673f702e999300c1ba254807", 
         attach: ".cart__checkout", 
        });
    });
    </script>
    {% endcomment %}
    
    {% comment %}
    {% if template.directory == "customers" %}
      {% render 'nosto-flickity-script' %}
    {% endif %}

    {%- render 'navidium-scripts' -%}
    {%- render 'rebuy-script' -%}

    {% render 'swym-custom' %}
    {% include 'swymSnippet' %}

    <!-- PickyStory snippet "main_widget_script", do not modify. Safe to remove after the app is uninstalled -->
    {% if content_for_header contains 'pickystory' %}
      <script defer src="https://cdn.pickystory.com/widget/dist/latest/pickystory-widget.min.js" defer></script>
    {% endif %}
    <!-- PickyStory end snippet "main_widget_script" -->

    <script src="https://cdn.jsdelivr.net/npm/@loophq/onstore-sdk@latest/dist/loop-onstore-sdk.min.js"></script>

    <script> 
    
       LoopOnstore.init({ 
    
       key: "8b62f62a73ac7beb673f702e999300c1ba254807", 
    
       attach: ".rebuy-button, .rebuy-cart__checkout-button, .block", 
    
       });
    
    </script>
    {% endcomment %}

     <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js" defer="defer"></script>
     <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer="defer"></script>
    <script src="{{ 'new-custom.js' | asset_url }}" defer="defer"></script>


  </body>
</html>
{% comment %}
<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=b0537252-eb47-4b05-aef3-9548e5649662'></script>

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=b0537252-eb47-4b05-aef3-9548e5649662'></script>

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=b0537252-eb47-4b05-aef3-9548e5649662'></script>

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=b0537252-eb47-4b05-aef3-9548e5649662'></script>

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=b0537252-eb47-4b05-aef3-9548e5649662'></script>
{% endcomment %}
