{%- if section.blocks.size > 0 -%}
  {%- for block in section.blocks -%}
    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    {% if block.type == 'video' %}
      <div id="bg-videos" class="videoBox" style="{%- if block.settings.video_link == blank -%}background-image: url('{{ block.settings.video_image | img_url: 'master' }}');{%- endif -%}">

        {%- if block.settings.video_link != blank -%}
          <div class="fullscreen-video-wrap">
            <video class="video-js" loop autoplay preload="none" muted playsinline
            poster="https:{{ block.settings.video_image | img_url: 'master' }}">
              <source src="{{ block.settings.video_link }}" type="video/mp4">
            </video>
          </div>
        {% endif %}

        <div class="overlay" style="opacity: 0.{{ block.settings.overlay_opacity }}"></div>
        <div class="main-text-sec">
          <div class="videoBoxInfo">
          {% if block.settings.title != blank %}
            <div>
            <h1 class="videoBoxInfoTitle" style="color: {{ block.settings.color_text }}; text-align: {{ block.settings.title_alignment }};">
              {{ block.settings.title | escape }}
            </h1>
            </div>
          {% endif %}

          {% if block.settings.text != blank %}
            <div class="imageBoxInfoDescription" id="{{ block.id }}" style="color: {{ block.settings.color_text }};text-align: {{ block.settings.title_alignment }};">
              {{ block.settings.text }}
            </div>
          {% endif %}

          {% if block.settings.button_link != blank and block.settings.button_label != blank %}
            <div style="text-align: {{ block.settings.title_alignment }}">
              <a href="{{ block.settings.button_link }}" class="videoBoxInfoBtn" style="color: {{ block.settings.color_btn_text }}; background: {{ block.settings.color_btn_bg }}">
                {{ block.settings.button_label | escape }}
              </a>
            </div>
          {% endif %}
        </div>
           <div class="star-rating-sec">
             <div class="flex-top">
              <div class="top-text">
                <p>{{ section.settings.top_text }}</p>
              </div>
              {% if section.settings.image %}
              <div class="image">
                <img src="{{ section.settings.image | image_url }}" alt="section image">
              </div>
              {% endif %}
              </div>
              <div class="bottom-text">
                <p>{{ section.settings.bottom_text }}</p>
              </div>
            </div>
          </div>
      </div>
    {% else %}
      <div class="imageBox" style="background-color: {{ block.settings.color_bg }}; {%- if block.settings.image_bg != blank -%}background-image: url('{{ block.settings.image_bg | img_url: 'master' }}');{%- endif -%}">

        <div class="overlay" style="opacity: 0.{{ block.settings.overlay_opacity }}"></div>

        <div class="imageBoxInfo">
          {% if block.settings.title != blank %}
            <div>
            <h1 class="imageBoxInfoTitle" style="color: {{ block.settings.color_text }}; text-align: {{ block.settings.title_alignment }};">
              {{ block.settings.title | escape }}
            </h1>
            </div>
          {% endif %}

          {% if block.settings.text != blank %}
            <div class="imageBoxInfoDescription" id="{{ block.id }}" style="color: {{ block.settings.color_text }}; text-align: {{ block.settings.title_alignment }};">
              {{ block.settings.text }}
            </div>
          {% endif %}

          {% if block.settings.button_link != blank and block.settings.button_label != blank %}
             <div style="text-align: {{ block.settings.title_alignment }}">
            <a href="{{ block.settings.button_link }}" class="imageBoxInfoBtn" style="color: {{ block.settings.color_btn_text }}; background: {{ block.settings.color_btn_bg }}">
              {{ block.settings.button_label | escape }}
            </a>
           </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {%- endfor -%}
{% else %}
  <div class="placeholderNoblocks">
    This section doesn’t currently include any content. Add content to this section using the sidebar.
  </div>
{%- endif %}


{% schema %}
{
  "name": {
    "en": "Hero Image Video"
  },
  "class": "videoBackground",
  "max_blocks": 1,
  "settings": [
    {
      "type": "text",
      "id": "top_text",
      "label": "Top Text",
      "default": "Your top text goes here"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text",
      "default": "Your bottom text goes here"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "url",
          "id": "video_link",
          "label": {
            "en": "Video link"
          }
        },
        {
          "type": "image_picker",
          "id": "video_image",
          "label": {
            "en": "Cover image"
          }
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": {
            "en": "Overlay opacity"
          },
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": {
            "en": "%"
          },
          "default": 0
        },
        {
          "type": "header",
          "content": {
            "en": "Text"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "default": "Video slide"
        },
        {
          "type": "select",
          "id": "title_alignment",
          "label": {
            "en": "Title Alignment"
          },
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "en": "Description"
          },
          "default": {
            "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "color",
          "id": "color_text",
          "label": {
            "en": "Text color"
          },
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "en": "Button link"
          }
        },
        {
          "type": "color",
          "id": "color_btn_bg",
          "label": {
            "en": "Background button color"
          },
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_btn_text",
          "label": {
            "en": "Button text color"
          },
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "color",
          "id": "color_bg",
          "label": {
            "en": "Background color (optional)"
          },
          "default": "#16165b"
        },
        {
          "type": "image_picker",
          "id": "image_bg",
          "label": {
            "en": "or use an image (required)"
          }
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": {
            "en": "Overlay opacity"
          },
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": {
            "en": "%"
          },
          "default": 0
        },
        {
          "type": "header",
          "content": {
            "en": "Text"
          }
        },
        {
          "type": "text",
          "id": "title",
          "default": "Image slide",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "select",
          "id": "title_alignment",
          "label": {
            "en": "Title Alignment"
          },
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "en": "Description"
          },
          "default": {
            "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "color",
          "id": "color_text",
          "label": {
            "en": "Text color"
          },
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "en": "Button link"
          }
        },
        {
          "type": "color",
          "id": "color_btn_bg",
          "label": {
            "en": "Background button color"
          },
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_btn_text",
          "label": {
            "en": "Button text color"
          },
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Hero Image Video"
      },
      "category": {
        "en": "Main"
      },
      "blocks": [
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
