<style>
.m-section { margin-block: 60px; }
/* .m-section:last-child { margin-block-end: 0; } */
@media screen and (min-width: 750px) {
  .m-section { margin-block: 150px; }
}
</style>

<style>
  .makro-text-banner--wrapper{ margin-inline: -0.5rem; padding: 4rem 2rem; background-color: var(--section-BG-color, #272727); color: var(--section-text-color, #fff); border-radius: 10px; display: flex; gap: 0 40px; }  
  .layout-1.makro-text-banner--wrapper.with-image { align-items: center; }
  .makro-text-banner--wrapper.with-image .heading--part,
  .makro-text-banner--wrapper.with-image .text--part { position: relative; }
  .makro-text-banner--wrapper>div { flex: 1 1; }
  
  .makro-text-banner--wrapper .heading--part h2 { color: inherit; }

  .text--part>a.button, .makro-TB-text-item>.button { margin-top: 30px; min-width: 140px; }

  .makro-text-banner--wrapper .rte { color: inherit; }

  /* banner */
  .makro-text-banner--wrapper { position: relative; }
  .makro-text-banner--wrapper.text-align-right { justify-content: flex-end; }

  .makro-text-banner--wrapper.with-image { flex-wrap: nowrap; flex-direction: row; gap: 0; padding-top: 0; padding-bottom: 0; }
  .makro-text-banner--wrapper.with-image:before,
  .makro-text-banner--wrapper.with-image .makro-TB-image-item:before { content: ''; padding-bottom: 21.74%; }
  
  .makro-TB-image-item { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  .makro-TB-image-item:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px; background: radial-gradient(465.97% 141.42% at 100% 0%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, var(--overlay-opacity,0.60)) 100%); }  
  .makro-TB-image-item img { width: 100%; height: 100%; max-width: 100%; object-fit: cover; border-radius: 10px; display: flex; }  
  
  .makro-TB-text-item { position: relative; padding-right: 6.313%; max-width: 50%; padding-block: 4rem; }
  .layout-1.with-image .text--part { padding-block-end: 4rem; }
  .layout-1.with-image .heading--part { padding-block-start: 4rem; }
  .makro-TB-text-item h2 { color: inherit; margin-bottom: 0; }
  .makro-TB-text-item>*+* { margin-top: 10px; }
  .makro-TB-text-item>.button { margin-top: 40px; }
  /* banner */
  
  @media screen and (min-width: 750px) {
    .makro-text-banner--wrapper {
      margin-inline: -1.6rem;        
    }
    .makro-text-banner--wrapper.with-image .heading--part { padding-right: 40px; }
  }
  @media screen and (min-width: 990px) {
    .makro-text-banner--wrapper {
      margin-inline: -1rem;
      padding: 6rem 4rem;
    }
    .makro-TB-text-item,
    .layout-1.with-image .heading--part, .layout-1.with-image .text--part { padding-block: 6rem; }
  }
  @media screen and (min-width: 1550px) {
    .makro-text-banner--wrapper {
      margin-inline: -4rem;
    }
  }
  @media screen and (max-width: 1199px) {
    .makro-TB-text-item { padding-right: 20px; max-width: 70%; }
  }
  @media screen and (max-width: 749px) {
    .makro-text-banner--wrapper { flex-direction: column; }    
    .makro-text-banner--wrapper .heading--part h2 { margin-bottom: 0; }    
    .makro-text-banner--wrapper h2 { font-size: 40px; }
    .makro-text-banner--wrapper .text--part { margin-top: 10px; }    
    .makro-text-banner--wrapper .rte { font-size: 14px; }
    .text--part>a.button,
    .makro-TB-text-item>.button { width: 100%; }
    
    .makro-TB-text-item { max-width: 100%; padding-right: 0; }
    .makro-text-banner--wrapper.with-image { align-items: flex-end; }
    .makro-text-banner--wrapper.with-image:before,
    .makro-text-banner--wrapper.with-image .makro-TB-image-item:before { content:'';padding-bottom: 151.60%; }
    .makro-TB-text-item>.button{ margin-top: 30px; }

    .layout-1.makro-text-banner--wrapper.with-image { min-height: 128.3vw; flex-wrap: wrap; align-items: flex-end; align-content: flex-end; }
    .layout-1.makro-text-banner--wrapper.with-image:before { display: none; }
    .makro-text-banner--wrapper.with-image .heading--part, 
    .makro-text-banner--wrapper.with-image .text--part { flex: unset; width: 100%; }
  }
</style>

{%- liquid
  assign content_layout = section.settings.layout
  assign text_color = section.settings.text_color
  assign BG_color = section.settings.BG_color
  assign overlay_opacity = section.settings.overlay_opacity | divided_by:100.00
-%}

{% capture content %}
  {% capture title %}
    {% if section.settings.title != blank %}
      <h2 class="main_heading h2">{{ section.settings.title }}</h2>
    {% endif %}
  {% endcapture %}
  {% capture detail %}
    {% if section.settings.description != blank %}
    <div class="rte desc">{{ section.settings.description }}</div>
    {% endif %}
    {% if section.settings.btn_text != blank %}
      <a href="{{ section.settings.url | default: '#' }}" class="button cta_button">{{ section.settings.btn_text }}</a>
    {% endif %}
  {% endcapture %}
{% if content_layout == "layout-1"  %}
  <div class="heading--part">{{ title }}</div>
  <div class="text--part">{{ detail }}</div>
{% else %}
  <div class="makro-TB-text-item">{{ title }}{{ detail }}</div>
{% endif %}
{% endcapture %}

<div class="page-width">
  <div class="{{ content_layout }} makro-text-banner--wrapper{% if section.settings.image %} with-image{% endif %}" 
    style="{% if BG_color != blank %}--section-BG-color: {{ section.settings.BG_color }};{% endif %}
    {% if text_color != blank and text_color != 'rgba(0,0,0,0)' %}--section-text-color: {{ text_color }};{% endif %}
    --overlay-opacity: {{ overlay_opacity }};">
    {% if section.settings.image != blank %}
    <div class="makro-TB-image-item">
      {%- liquid
        assign image = images['Copy-min.jpg']
        assign image = section.settings.image
        assign height = image.width | divided_by: image.aspect_ratio | round
        if section.settings.image_behavior == 'ambient'
          assign sizes = '120vw'
          assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
        else
          assign sizes = '(min-width: 1550px) calc(100vw - 8rem), (min-width: 990px) calc(100vw - 2rem), (min-width: 750px)  calc(100vw - 4rem) 3.2rem, calc(100vw - 1rem)'
          assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        endif

        assign mobileImage = images['Copy_1_-min.jpg']          
        assign mobileImage = section.settings.image_mobile
        assign mobileHeight = mobileImage.width | divided_by: mobileImage.aspect_ratio | round
        assign mobileWidths = '375, 550, 750'
        assign imgClass = 'small-hide'
      -%}
      {{
        image
        | image_url: width: 3840
        | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths, class: imgClass
      }}
      {% if mobileImage != blank %}
      {{
        mobileImage
        | image_url: width: 750
        | image_tag: loading: 'lazy', height: mobileHeight, sizes: sizes, widths: mobileWidths, class: 'large-up-hide medium-hide'
      }}
      {% endif %}
    </div>
    {% endif %}
    {{ content }}
  </div>
</div>

{% schema %}
  {
    "name": "Text Banner",
    "class": "m-section",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "label": "Upload BG image",
        "id": "image"
      },
      {
        "type": "image_picker",
        "label": "Upload mobile BG image",
        "id": "image_mobile"
      },      
      {
        "type": "select",
        "label": "Select content layout",
        "id": "layout",
        "default":"layout-1",
        "options": [
          {
            "label": "Layout 1",
            "value": "layout-1"
          },
          {
            "label": "Layout 2",
            "value": "layout-2"
          },
          {
            "label": "Layout 3",
            "value": "layout-3 text-align-right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "label": "Title",
        "id": "title",
        "default": "SOLUTIONS FOR QUICKLY AND EASILY ACHIEVING YOUR HAIRSTYLE AT HOME"
      },
      {
        "type": "richtext",
        "label": "Detail",
        "id": "description",
        "default": "<p>Worem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.<\/p>"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "label": "Button text",
        "id": "btn_text",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "label": "Button link",
        "id": "url"
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color",
        "label": "BG color",
        "id": "BG_color",
        "default": "#272727"
      },
      {
        "type": "color",
        "label": "text color",
        "id": "text_color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "image overlay"
      },
      {
        "type": "range",
        "label": "Orverlay opacity",
        "id": "overlay_opacity",
        "max": 100,
        "min": 0,
        "step": 10,
        "default": 60
      }
    ],
    "presets": [
      {
        "name": "Text Banner"
      }
    ]
  }
{% endschema %}