{% capture servicesData %}
{% for block in section.blocks %}
  {% if block.settings.title != blank %}
    <div class="serv-item">
        <span class="serv-icon">{{ block.settings.icon }}</span>
        <h5 class="item-title">{{ block.settings.title }}</h5>
        {% if block.settings.text != blank %}
        <div class="item-content">
          <p>{{ block.settings.text }}</p>
        </div>
        {% endif %}
        {% if block.settings.button_label != blank %}<a href="{{ block.settings.url | default:"#" }}" class="more-link">{{ block.settings.button_label }}</a>{% endif %}
     </div>
  {% endif %}
{% endfor %}
{% endcapture %}

{% if servicesData != blank %}

<link rel="stylesheet" href="{{ 'return-services.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ 'return-services.css' | asset_url }}"></noscript>

<div class="return-services-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="page-width">
    <div class="services-list">
      {{ servicesData }}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Services",
    "tag":"section",
    "class":"return-services",
    "settings": [],
    "blocks":[
    {
      "type": "text",
      "name": "Block",
      "limit": 4,
      "settings": [
        {
          "type": "textarea",
          "label": "Icon",
          "id": "icon"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "text",
          "label": "Button Label",
          "id": "button_label"
        },
        {
          "type": "url",
          "label": "URL to Navigate",
          "id": "url"
        }
      ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}